/* Roxanne Buenaventura
CSD 340
Module 6: Assignment 2
*/

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F5F1E8;
    color: #3E342B;
}

header {
    background-color: #3F5B45;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    font-weight: 400;
}

#navbar {
    overflow: hidden;
    background-color: #6B4F3A;
    border-bottom: 15px solid #A8B89A;
}

#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #A8B89A;
    color: #3E342B;
}

#container {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 50%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-title {
    text-align: center;
    font-size: 2em;
    color: #3F5B45;
    font-weight: 400;
}

.card-content {
    padding: 2px 16px;
}

footer {
    background-color: #3F5B45;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    color: white;
    font-weight: 400;
    float: right;
    padding-right: 10px;
    font-style: italic;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}