/* Roxanne Buenaventura
    CSD 340
    Assignment 3.3 */

h1 {
    text-align: center;
}

#container {
    text-align: center;
}

.left-div {
    width: 45%;
    display: inline-block;
    vertical-align: top;
}

.right-div {
    width: 45%;
    display: inline-block;
    vertical-align: top;
}

.bottom-div {
    width: 100%;
    margin-top: 60%;
    float: right;
    margin-bottom: 20px;
}

h3 {
    font-weight: 500;
}

ol {
    font-weight: 300;
}

.left-div h3{
    border: 1px solid red;
    border-radius: 15px;
}

.left-div ol {
    border: 1px solid red;
    border-radius: 15px;
    padding: 10px;
    list-style-position: inside;
}

.right-div h3 {
    border: 1px dashed red;
    border-radius: 15px;
}
.right-div ol {
    border: 1px dashed red;
    border-radius: 15px;
    padding: 10px;
    list-style: upper-roman inside;
}

.bottom-div a {
    float:right;
}

a:hover {
    text-decoration: underline;
}